<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css">
    <meta charset="utf-8">
  </head>
  <body id="{{corpus.template}}" class="container-fluid">


    <div class="row header">
      <h4  class="col-sm-1">30 years of&nbsp;Schengen</h4>
      <h1 class="col-sm-5 title"><a href="./">{{{corpus.title}}}</a></h1>
      <h6 class="col-sm-4 comment">{{corpus.description}}</h6>

      <p class="col-sm-2 disclaimer">
        <strong>Disclaimer</strong><em>
        ‘This is a work in progress not a final version. Do not quote or circulate.
        If you have any questions or remarks please contact mederic.martin-maze@kcl.ac.uk <br>
        <br>
        <strong>how to read ?</strong>
        Horizontal lines represents entities ( documents, organisations, devices ) and vertical lines represents relations.
        Relations between entities change over time : they allow us to capture transformations and dynamics.</em>
      </p>

    </div>
    <div class="graph row"></div>

    <p class="col-sm-1 slide" ><input id="zoom" type="range" value="1" max="50" min="1" step="1"></p>

    <script type="text/javascript" src="assets/js/lib.min.js"></script>
    <script type="text/javascript" src="assets/js/sutils.js"></script>
    <script type="text/javascript">var corpusId = '{{id}}';</script>
    <script type="text/javascript" src="assets/js/{{corpus.template}}.js"></script>
  </body>
</html>
