<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css">
    <meta charset="utf-8">
  </head>
  <body id="{{corpus.template}}" class="container-fluid">
    <hr/>
      <p class="col-sm-8"><strong>{{corpus.title}}</strong></p>
      <p class="col-sm-2">{{corpus.date}}</p>
      <p class="col-sm-2" ><input id="zoom" type="range" value="6" max="20" min="1" step="1"></p>
    <hr/>
    <script type="text/javascript" src="assets/js/lib.min.js"></script>
    <script type="text/javascript" src="assets/js/sutils.js"></script>
    <script type="text/javascript">var config = '{{{config}}}';</script>
    <script type="text/javascript" src="assets/js/{{corpus.template}}.js"></script>
  </body>
</html>
