<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css">
    <meta charset="utf-8">
  </head>
  <body class="container">
     <hr>
    <div class="row">
      <strong class="col-sm-6">SOURCE database</strong>
      <p class="col-sm-6">{{date}}</p>
    </div>
    <hr>
    {{#each corpus}}
      <div class="row">
        <div class="col-sm-5">
          <h4><a href="{{template}}_{{@key}}.html">{{title}}</a> </h4>
          <blockquote><p>{{description}}</p></blockquote>
          <pre><a href="http://heurist.sydney.edu.au/h4-ao/?db=meder_test_to_delete&q={{query}}" target="_blank">{{query}}</a></pre>
        </div>
        <div class="col-sm-1">
          {{template}}<br> <a href="data/{{template}}_{{@key}}.json"  target="_blank">json</a>
        </div>
        <div class="col-sm-6">
          <table  class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>id</th>
                <th>select</th>
                <th>exclude</th>
                <th>sort</th>
              </tr>
            </thead>
            {{#each groups}}
            <tr>
              <td>{{name}}</td>
              <td>{{#each filter}} {{@key}}:{{this}} {{/each}}</td>
              <td>{{#each reject}} {{@key}}:{{this}} {{/each}}</td>
              <td>{{sortBy}} </td>
            </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <hr>
    {{/each}}
  </body>
</html>
