<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css">
    <meta charset="utf-8">
  </head>
  <body class="container">
     <hr>
    <div class="row">
      <strong class="col-sm-6">SOURCE database</strong>
      <p class="col-sm-6">{{date}}</p>
    </div>
    <hr>
    {{#each corpus}}
      <div class="row">
        <div class="col-sm-8">
          <h4><a href="{{template}}_{{@key}}.html">{{title}}</a> </h4>
        </div>
        <div class="col-sm-1">
          {{template}}<br> <a href="data/{{template}}_{{@key}}.json"  target="_blank">raw DATA</a>
        </div>
        <div class="col-sm-3">
          <pre><a href="http://heurist.sydney.edu.au/h4-ao/?db=meder_test_to_delete&q={{query}}" target="_blank">{{query}}</a></pre>
        </div>
      </div>
      <hr>
    {{/each}}
  </body>
</html>
